# .gitignore

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
*.env
*.venv
*.egg-info/

# VS Code settings
.vscode/

# Data files
*.csv
*.xlsx
*.parquet
*.feather
*.pkl
*.h5
*.db

# Output folders
/output/
/reports/
